[user]
	name = Jarrett Meyer
	email = jarrettmeyer@gmail.com
[color]
	ui = auto
[alias]
	st = status
	ci = commit
	amend = commit --amend
	co = checkout
	b = branch
	cb = checkout -b
	fa = fetch --all
	aa = add --all
	m = merge
	pom = push origin master
[core]
	excludesfile = /Users/jm/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
