[user]
	name = Jarrett Meyer
	email = jarrettmeyer@gmail.com
[color]
	ui = auto
[alias]
	st = status
	ci = commit
	amend = commit --amend
	co = checkout
	b = branch
	cb = checkout -b
	fa = fetch --all
	aa = add --all
	m = merge
	pom = push origin master

	# Friendly logs, inspired by Gary Bernhardt
	l = "!source ~/.githelpers && pretty_git_log"
	head = !git l -1
	h = !git head
	r = !git l -20
	ra = !git l --all

[core]
	excludesfile = /Users/jm/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
